MIXER_TUNNEL_SITE_ID=ntc
MIXER_TUNNEL_BIND_ADDRESS=100.69.202.29
MIXER_TUNNEL_PORT=2443
MIXER_TUNNEL_SERVER_TAILSCALE_IP=100.69.202.29

MIXER_TUNNEL_VPN_NETWORK=10.254.10.0
MIXER_TUNNEL_VPN_NETMASK=255.255.255.0
MIXER_TUNNEL_VPN_CIDR=10.254.10.0/24

MIXER_TUNNEL_LAN_NETWORK=192.168.10.0
MIXER_TUNNEL_LAN_NETMASK=255.255.255.0
MIXER_TUNNEL_LAN_CIDR=192.168.10.0/24
MIXER_TUNNEL_LAN_INTERFACE=enp9s0
MIXER_TUNNEL_LAN_ADDRESS=192.168.10.77
MIXER_TUNNEL_TARGET_IP=192.168.10.56

MIXER_TUNNEL_CLIENT_IP=10.254.10.2
MIXER_TUNNEL_RETURN_UDP_SOURCE_PORT=51324
MIXER_TUNNEL_CONTAINER_SUBNET=172.30.254.0/29
MIXER_TUNNEL_CONTAINER_IP=172.30.254.2

MIXER_TUNNEL_CLIENT_NAME=ntc-mixpad-mac
MIXER_TUNNEL_PKI_UID=1000
MIXER_TUNNEL_PKI_GID=1000
MIXER_TUNNEL_ADMIN_STATE_DIR=../admin-state
MIXER_TUNNEL_SERVER_STATE_DIR=./server-state
