NTC_OPERATIONS_STATUS_URL=http://ntc-truenas:1111/api/status
NTC_OPERATIONS_MIXASSIST_URL=http://ntc-truenas:1984/api/status
NTC_OPERATIONS_TRANSCRIPTION_URL=http://ntc-truenas:6768
NTC_OPERATIONS_WEBCALL_URL=http://ntc-truenas:1967/healthz
NTC_OPERATIONS_STATUS_CACHE_SECONDS=2
