[Unit]
Description=Clear verified CVAV DN700R source files every minute

[Timer]
OnCalendar=*-*-* *:*:45
AccuracySec=5s
Unit=ntc-cvav-dn700r-source-cleanup.service

[Install]
WantedBy=timers.target
