[Unit]
Description=NTC TrueNAS Recordings SMB mount
After=network-online.target tailscaled.service
Wants=network-online.target

[Mount]
What=//100.69.202.29/Recordings
Where=/mnt/ntc/Recordings
Type=cifs
Options=credentials=/etc/ntc/ntc-smb.credentials,uid=@OPERATOR_UID@,gid=@OPERATOR_GID@,forceuid,forcegid,file_mode=0664,dir_mode=0775,iocharset=utf8,vers=3.1.1,serverino,_netdev
TimeoutSec=30

[Install]
WantedBy=multi-user.target
